<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Photothèque</a>
        <a class="btn btn-primary" href="/albums/create">Add Album</a>
    </div>
</nav>