<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h1><%= album.title %></h1>
                <p><%= album.description %></p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter une images</h5>
                        <form action="/albums/<%= album.id %>/images" method="POST" enctype="multipart/form-data">
                            <div class="input-group">
                                <input type="file" class="form-control" id="images"  name="images" multiple aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            
                                <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Ajouter</button>
                              </div>
                              <% if (error.length > 0) { %>
                                <div class="alert alert-danger mt-4" role="alert">
                                    <strong>Message :</strong> <%= error %>
                                </div>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 row row-cols-1 row-cols-md-4 g-4">
            <% album.images.forEach((image, idx) => { %>
                
            <div class="col">
                <div class="card">
                    <img src="/uploads/<%= album._id%>/<%= image %>" alt="<%= album.title %>" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%= image %></h5>
                        <a href="/albums/<%= album._id%>/delete/<%= idx %>">Supprimer</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <%- include('partials/scripts') %>
</body>
</html>