<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h1>Mes Albums</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <% albums.forEach(album => { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/albums/<%= album.id %>"><%= album.title %> (<%= album.images.length %>)</a>
                        <a href="/albums/<%= album.id %>/delete/" class="btn btn-danger">Supprimer</a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>

    <%- include('partials/scripts') %>
</body>
</html>