<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Nouvel Album</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="/albums/create" method="POST">
                    <div class="form-group">
                        <label for="name">Nom de l'album</label>
                        <input type="text" class="form-control" id="title" name="title" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                    <% if (error.length > 0) { %>
                        <div class="alert alert-danger mt-4" role="alert">
                            <strong>Message :</strong> <%= error %>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-primary mt-3">Créer</button>
                </form>
            </div>
        </div>
    </div>
        <%- include('partials/scripts') %>
</body>
</html>